section {
  background: white;
  padding: 30px;
  border-radius: 6px;
  box-shadow: 5px 5px 5px rgba(0 0 0 / 10%);
  margin: 20px 0;
}

.Dictionary input {
  width: 60%;
  padding: 6px 4px;
  display: block;
  margin: 0 auto;
  border: 1px solid #ddd;
  color: black;
}
.Dictionary .hint {
  font-size: 16px;
  margin-top: 5px;
  margin-left: 193px;
}

h1 {
  font-size: 20px;
  text-align: center;
  margin-bottom: 15px;
}
